.image {
  width: inherit;
  height: inherit;
  border: inherit;
  margin: inherit;
  display: inherit;
  padding: inherit;
  position: inherit;
  border-radius: inherit;
  background-color: inherit;
}
