.image {
  scale: inherit;
  width: inherit;
  height: inherit;
  border: inherit;
  margin: inherit;
  display: inherit;
  padding: inherit;
  position: inherit;
  max-width: inherit;
  max-height: inherit;
  transition: inherit;
  object-fit: inherit;
  transition: inherit;
  border-radius: inherit;
  background-color: inherit;
  transition-delay: inherit;
  transition-property: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
}
