.avatar {
  @apply object-cover rounded-full bg-backgroundPrimary-primaryExtraLight flex justify-center items-center no-underline;
  &.avatar-xs {
    @apply w-6 h-6;

    & .icon {
      --icon-size: var(--avatar-icon-size, 16px);
    }

    & .initials {
      @apply text-12;
    }
  }
  &.avatar-sm {
    @apply w-8 h-8;
    & .icon {
      --icon-size: var(--avatar-icon-size, 20px);
    }
    & .initials {
      @apply text-14;
    }
  }

  &.avatar-md {
    @apply w-10 h-10;
    & .icon {
      --icon-size: var(--avatar-icon-size, 24px);
    }
    & .initials {
      @apply text-16 leading-6;
    }
  }
  &.avatar-lg {
    @apply w-12 h-12;
    & .icon {
      --icon-size: var(--avatar-icon-size, 28px);
    }
    & .initials {
      @apply text-18 leading-28;
    }
  }
  &.avatar-xl {
    @apply w-14 h-14;
    & .icon {
      --icon-size: var(--avatar-icon-size, 32px);
    }
    & .initials {
      @apply text-20 leading-32;
    }
  }
  &.avatar-2xl {
    @apply w-16 h-16;
    & .icon {
      --icon-size: var(--avatar-icon-size, 32px);
    }
    & .initials {
      @apply text-24 leading-32;
    }
  }
  &.avatar-3xl {
    @apply w-24 h-24;
    & .icon {
      --icon-size: var(--avatar-icon-size, 48px);
    }
    & .initials {
      @apply text-36 leading-44;
    }
  }
  &.avatar-4xl {
    @apply w-40 h-40;
    & .icon {
      --icon-size: var(--avatar-icon-size, 80px);
    }
    & .initials {
      @apply text-60 leading-72;
    }
  }
}

.avatar:focus {
  & .avatar {
    @apply border-4 border-solid border-stroke-focused rounded-full;
  }
}

.initials {
  @apply text-text-primaryDark m-0 leading-5 font-medium;
}

.icon {
  @apply leading-0;
  --icon-color: var(--text-primary-dark);
}
